version: '2.2'
services:
    redis:
        image: redis:alpine
    redis-commander:
        build: ./redis-commander/
        command: --redis-host ${REDIS_HOST}
        ports:
            - "1000:8081"
        depends_on:
            - "redis"
    mongo:
        image: mongo
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    mongo-express:
        image: mongo-express
        ports:
            - "1001:8081"
        environment:
            ME_CONFIG_OPTIONS_EDITORTHEME: dracula 
            ME_CONFIG_MONGODB_SERVER: ${MONGODB_HOST}
            ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_USER}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_PASSWORD}
        depends_on:
            - "mongo"
    scraper:
        build: ./scraper
        volumes:
            - ./scraper:/usr/scraper
        command: ${MODE}
        depends_on:
            - "mongo"
            - "redis"
